@media only screen and (min-width: 1024px)  {

	#container {
		height: 100%;
	}

	.card {
		width: 838px;
		height: 449px;
		padding: 20px 52px;
		display: flex;
    	flex-direction: row-reverse;
    	align-items: center;
    	border: none;
    	box-shadow: 0 2px 30px #000;
	}

	.card-img {
		width: 50%;
		height: 365px;
	}

	.card-name {
		font-size: 45px;
		text-align: left;		
	}

	.card-position {
		font-size: 30px;
		text-align: left;
	}

	.card-info {
		width: 50%
	}

	.card-social {
		display: block;
	}

	.card-social a {
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 10px;
	}

	.card-social svg {
		width: 56px;
		height: 56px;
	}

	.card-social a:hover span{
		color: #da4153;
	}

	.card-social a:hover svg {
		animation: shake 2s;
	}

	.card-social span {
		display: block;
		color: #000;
   		font-size: 25px;
   		margin-left: 18px;
	}
}

@keyframes shake {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  
  10%, 30% {
    transform: rotate(-10deg);
  }
  
  20%, 40% {
    transform: rotate(10deg);
  }
  
}